 @import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed&display=swap');

 body {
             margin: 0;
             padding: 0;
             font-family: "Roboto", sans-serif;
 }

 header {
             z-index: 1;
             position: fixed;
             background: #22242A;
             margin-left: 0;
             padding-left: 0px;
             padding-right: 20px;
             padding-top: 5px;
             padding-bottom: 5px;
             width: calc(100% - 0%);
             top: 0;
             height: 50px;
 }

 .home i {
             color: #22242A;
 }

 .home span {
             color: #22242A;
 }

 .navBar {
             list-style-type: none;

             margin-right: 20px;
             margin-left: 0;
             padding-left: 20px;
             overflow: hidden;
 }


 .navBar li {
             float: right;
 }

 .navBar li a {
             display: block;
             padding: 8px;
             font-size: 16px;
             font-weight: 600;
             color: #fff;
 }

 .left_area {
             color: #fff;
             margin: 0;
             text-transform: uppercase;
             font-size: 22px;
             font-weight: 900;
 }



 .left_area span {
             color: #fc5c5c;
 }

 .buy_btn {
             padding: 5px;
             background: #19B3D3;
             text-decoration: none;
             float: right;
             margin-top: -30px;
             margin-right: 40px;
             border-radius: 2px;
             font-size: 15px;
             font-weight: 600;
             color: #fff;
             transition: 0.5s;
             transition-property: background;
 }

 .buy_btn:hover {
             background: #0B87A6;
 }

 .sidebar {
             z-index: 1;
             top: 0;
             background: #2f323a;
             margin-top: 70px;
             padding-top: 30px;
             position: fixed;
             left: 0;
             width: 250px;
             height: calc(100% - 9%);
             transition: 0.5s;
             transition-property: left;
             overflow-y: auto;
 }

 .logoArea {
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
 }

 .logo {
             width: 80px;
             height: 80px;
             border-radius: 100px;
             margin-bottom: 10px;
 }

 .listItem {
             color: #fff;
             display: block;
             width: 100%;
             line-height: 40px;
             text-decoration: none;
             padding-left: 30px;
             box-sizing: border-box;
             transition: 0.5s;
             transition-property: background;
 }

 .listItem:hover {
             background: #19B3D3;
 }



 label #sidebar_btn {
             z-index: 1;
             color: #fff;
             position: fixed;
             cursor: pointer;
             left: 360px;
             font-size: 20px;
             margin: 5px 0;
             transition: 0.5s;
             transition-property: color;
 }

 label #sidebar_btn:hover {
             color: #19B3D3;
 }

 #check:checked~.sidebar {
             left: -185px;
 }

 #check:checked~.sidebar a span {
             display: none;
 }

 #check:checked~.sidebar a {
             font-size: 20px;
             margin-left: 165px;
             width: 100%;
 }

 .content {
             max-width: 620px;
             margin-top: 60px;
             padding-top: 50px;
             padding-left: 80px;
             padding-right: 80px;
             padding-bottom: 50px;
             margin-left: 250px;
             background-position: center;
             background-color: #f7f6f3;
             background-size: cover;
             height: 100%;
             transition: 0.5s;
 }

 .content p {
             font-size: 18px;
             text-align: justify;
             text-justify: inter-word;
             font-family: "Sofia Sans Semi Condensed", sans-serif;
 }

 .content img {
             display: block;
             margin-left: auto;
             margin-right: auto;
             border: 2px solid #3f3f3f;
 }

 .content hr.solid {
             border-top: 1px solid rgb(194, 194, 194);
 }

 .contentFooter {
             max-width: 620px;
             margin-top: 0px;
             padding-top: 20px;
             padding-left: 80px;
             padding-right: 80px;
             padding-bottom: 50px;
             margin-left: 250px;
             background-position: center;
             background-color: #f7f6f3;
             background-size: cover;
             height: 100%;
             transition: 0.5s;
 }

 #check:checked~.content {
             margin-left: 60px;
 }

 #check:checked~.sidebar .logoArea {
             display: none;
 }

 #check {
             display: none;
 }

 .mobile_nav {
             display: none;
 }

 .content .card p {
             background: #fff;
             padding: 15px;
             margin-bottom: 10px;
             font-size: 14px;
             opacity: 0.8;
 }

 /* Responsive CSS */
 @media screen and (max-width: 475px) {

             .right_area {
                         display: none;
             }

             .left_area {
                         font-size: 12px;
             }

             .navBar {
                         display: none;
             }

 }

 @media screen and (max-width: 780px) {
             .sidebar {
                         display: none;
             }

             #sidebar_btn {
                         display: none;
             }

             .content {
                         margin-left: 0;
                         margin-top: 0;
                         padding: 50px 20px;
                         transition: 0s;
             }

             #check:checked~.content {
                         margin-left: 0;
             }

             .mobile_nav {
                         display: block;
                         width: calc(100% - 0%);
             }

             .nav_bar {
                         background: #222;
                         width: (100% - 0px);
                         margin-top: 70px;
                         display: flex;
                         justify-content: space-between;
                         align-items: center;
                         padding: 10px 20px;
             }

             .nav_bar .mobile_logo {
                         width: 50px;
                         height: 50px;
                         border-radius: 50%;
             }

             .nav_bar .nav_btn {
                         color: #fff;
                         font-size: 22px;
                         cursor: pointer;
                         transition: 0.5s;
                         transition-property: color;
             }

             .nav_bar .nav_btn:hover {
                         color: #19B3D3;
             }

             .mobile_nav_items {
                         background: #2F323A;
                         display: none;
             }

             .mobile_nav_items a {
                         color: #fff;
                         display: block;
                         text-align: center;
                         letter-spacing: 1px;
                         line-height: 40px;
                         text-decoration: none;
                         box-sizing: border-box;
                         transition: 0.5s;
                         transition-property: background;
             }

             .mobile_nav_items a:hover {
                         background: #19B3D3;
             }

             .mobile_nav_items i {
                         padding-right: 10px;
             }

             .active {
                         display: block;
             }
 }


 .noteBoxes {
             border: 1px solid;
             border-radius: 5px;
             padding: 10px;
             margin: 0px 0;
             max-width: 600px;
 }

 .type1 {
             border-color: #E76F51;
             background-color: rgba(231, 111, 81, 0.25);
 }

 .type2 {
             border-color: #70f377;
             background-color: rgba(91, 194, 113, 0.25);
 }

 .type3 {
             border-color: #0096C7;
             background-color: rgba(0, 150, 199, 0.25);
 }

 .type4 {
             border-color: #00B353;
             background-color: rgba(0, 179, 83, 0.25);
 }

 .picture {
             width: 15px;
             padding-right: 10px;
 }